@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-card: #1E1E24;
  --color-primary: #7C3AED;
  --color-secondary: #A3E635;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #9CA3AF;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
  }
}
